body {
    background-color: #15202B;
    color: #FFFFFF;
}

.imgs {
    width: 50px;
    height: auto;
}

#navbar-div {
    display: flex;
    justify-content: flex-end;
    column-gap: 20px;
    padding: 10px 40px;
    /* outline: 1px solid black; */
    font-weight: 500;
}

.card {
    background-color: #192734;
    border: none;
}

.card-header {
    background-color: #192734;
    border-bottom: 1px solid #2F3336;
}

h2 {
    color: #FFFFFF;
    font-weight: bold;
}

.form-control {
    background-color: #253341;
    color: #FFFFFF;
    border: 1px solid #2F3336;
}

.form-control::placeholder {
    color: #ffffff;
    opacity: 1;
}

.btn-primary {
    background-color: #1DA1F2;
    border: none;
}

.list-group-item {
    background-color: #192734;
    border: 1px solid #2F3336;
    color: #FFFFFF;
}

.delete-button {
    background-color: #E0245E;
    border: none;
}

.delete-button:hover {
    background-color: #C81D51;
}

.logo {
    max-width: 40px;
    height: auto;
}
